{% extends "master.html.twig" %}

{% block title %}
	login
{% endblock title %}
{% block head %}

	<link rel="stylesheet" href="css/index.css"/>
{% endblock %}
{% block content %}

	{% if session.user.isAdmin %}
		{# teacher view #}
		<div class="main">
			<div class='row'>

				<div class="col-sm-4 col-md-2 sidebar">
					<div class="user-panel">
						<div class="pull-left image ">
							<img src="http://via.placeholder.com/160x160" class="rounded-circle" alt="User Image">
						</div>
						<div class="ml-3 pull-left info ">
							<p>{{session.user.name}}</p>
							<a href="#">
								<i class="fa fa-circle text-success"></i>
								Online</a>
						</div>
					</div>
					<ul class="list-sidebar bg-defoult">
						<li>
							<a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active">
								<i class="fa fa-th-large"></i>
								<span class="nav-label">
									Dashboards
								</span>
								<span class="fa fa-chevron-down pull-right"></span>
							</a>
							<ul class="sub-menu collapse" id="dashboard">

								<li class="active">
									<a href="/Create_questions">Create questions</a>
								</li>
								<li class="active">
									<a href="/Create_quizs">Create quizs</a>
								</li>
								<li>
									<a href="/create_quizquestion">Create Quiz-Question</a>
								</li>
							</ul>
						</li>
						<li>

							<a href="#" data-toggle="collapse" data-target="#displayinfo" class="collapsed active">
								<i class="fa fa-th-large"></i>
								<span class="nav-label">
									Check Information
								</span>
								<span class="fa fa-chevron-down pull-right"></span>
							</a>
							<ul class="sub-menu collapse" id="displayinfo">

								<li class="active">
									<a href="/display_questions">Display questions</a>
								</li>
								<li class="active">
									<a href="/display_quizs">Display quizs</a>
								</li>
								

							</ul>
						</li>
						<li>

							<a href="#" data-toggle="collapse" data-target="#User" class="collapsed active">
								<i class="fa fa-th-large"></i>
								<span class="nav-label">
									User management
								</span>
								<span class="fa fa-chevron-down pull-right"></span>
							</a>
							<ul class="sub-menu collapse" id="User">
								<li class="active">
									<a href="/account/{{session.user.id}}/parent_info">parent info</a>
								</li>
								<li>
									<a href="/account/{{session.user.id}}/studnet_info">student info</a>
								</li>
								<li>
									<a href="/account/{{session.user.id}}/teacher_info">teacher info</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="/teacher_display_result">
								<i class="fa fa-bar-chart-o"></i>
								<span class="nav-label">Display Result</span>
							</a>
						</li>


					</ul>
				</div>


				<div class="jumbotron col-sm-8 col-md-10">
					<div class="container">
						<h1 class="display-3">Hello,
							{{session.user.name}}</h1>

						<p>
							<a class="btn btn-primary btn-lg" href="/" role="button">Learn more »</a>
						</p>
						{% block hello_account %}{% endblock %}
						{% block create_question %}{% endblock %}
						{% block create_quiz %}{% endblock %}
						{% block create_game %}{% endblock %}
						{% block create_success %}{% endblock %}
						{% block display_question %}{% endblock %}
						{% block display_quiz %}{% endblock %}
						{% block display_games %}{% endblock %}
						{% block parents_teacherview %}{% endblock %}
						{% block student_teacherview %}{% endblock %}

					</div>
				</div>

			</div>
		</div>

	{% else %}
		{# student/parent view #}

		<div class="main">
			<div class='row'>
				<div class="sidebar col-sm-4   col-md-2 ">
					<div class="user-panel">
						<div class=" pull-left image ">
							<img src="http://via.placeholder.com/160x160" class="rounded-circle" alt="User Image">
						</div>
						<div class="pull-left info ml-3">
							<p>{{session.user.name}}</p>
							<a href="#">
								<i class="fa fa-circle text-success"></i>
								Online</a>
						</div>
					</div>
					<ul class="list-sidebar bg-defoult">
						<li>
							<a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active ">
								<i class="fa fa-th-large"></i>
								<span class="nav-label">
									Account info
								</span>
								<span class="fa fa-chevron-left pull-right"></span>
							</a>
							<ul class="sub-menu collapse" id="dashboard">
								<li class="active">
									<a href="/account/{{session.user.id}}/parent_view">parent info</a>
								</li>
								<li>
									<a href="/account/{{session.user.id}}/student_view">student info</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="/display_result">
								<i class="fa fa-laptop"></i>
								<span class="nav-label">Show result</span>
							</a>
						</li>
						<li>
							<a href="#" data-toggle="collapse" data-target="#tables" class="collapsed active ">
								<i class="fa fa-table"></i>
								<span class="nav-label">Take quiz</span>
								<span class="fa fa-chevron-left pull-right"></span>
							</a>
							<ul class="sub-menu collapse" id="tables">
								{% for quiz in quizs %}
									<li>
										<a href="/take_quiz/{{quiz.id}}">{{quiz.description}}</a>
									</li>

								{% endfor %}
							</ul>
						</li>

					</ul>
				</div>
				<div class="jumbotron  col-sm-8 col-md-10">
					<div class="container">
						<h1 class="display-3">Hello,
							{{session.user.name}}</h1>
			

						<p>
							<a class="btn btn-primary btn-lg" href="/" role="button">Learn more »</a>
						</p>
						{% block parents_userview %}{% endblock %}
						{% block student_userview %}{% endblock %}
						{% block take_questions %}{% endblock %}
						{% block take_quiz %}{% endblock %}
						{% block display_result %}{% endblock %}
						{% block play_games %}{% endblock %}
						{% block update %}{% endblock %}

					</div>
				</div>

			</div>
		</div>
	{% endif %}


{% endblock content %}
