{% extends "master.html.twig" %}
{% block title %} login  {% endblock title %}  

{% block head %}
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
        <script>tinymce.init({selector:'textarea'});</script>
{% endblock %}

{% block content %} 
    
     {% if errorArray %}
        <ul>
            {% for err in errorArray %}
                <li>{{ err }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <p> Hello  {{username}}</p>
    <form method="post">
        Title: <input type="text" name="title" value={{title}}><br>
        <textarea cols=60 rows=10 name="body"  >{{body}}</textarea><br>
        <input type="submit" value="Add article">
    </form>
    

{% endblock content %}  