{% extends "master.html.twig" %}
{% block title %} comment  {% endblock title %}  

{% block content %} 
    {% if errorArray %}
        <ul>
            {% for err in errorArray %}
                <li>{{ err }}</li>
            {% endfor %}
        </ul>
    {% endif %}


   {% if result %}
        <h4 >title:  {{result.title}} </h4>
            <div>  {{result.body}} </div>
            <div>  comment </div>


    {% endif %}
    
   

{% endblock content %}  