{% extends "account.html.twig" %}

{% block create_quiz %}


	<div class="container h-100 ">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<br>
						{% if errorsArray %}
   							 <ul class="errorMessage">
       						 {% for error in errorsArray %}
           						 <li>{{ error }}</li>
       						 {% endfor %}
    						</ul>
						{% endif %}
						<img src="/images/quizquestion.jpg" height='100px' class="brand_logo" alt="Logo">
						
					</div>
					
				</div>
				<br>
			<!--	<div class="d-flex justify-content-center form_container">
					<form method="" action="">-->
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text">
									<i >Quiz</i>
								</span>
							</div>
							<select id="quiz" name="quiz">
								<option value=""></option>
								{% if quizs %}            
									{% for q in quizs %}
									<option value="{{q.descriprion}}">{{q.description}}</option>
									{% endfor %}            
								{% endif %}
							</select>
						</div>

						{% if questions %}
							
							<table class="table table-dark table-striped">
								<tr>
									<th>ID<span id="isTakenID"></span></th>
									<th></th>
									<th>Question</th>
									<th>Answer1</th>
									<th>Answer2</th>
									<th>Answer3</th>
									<th>Answer4</th>
									<th>RightAnswer</th>
									
									<th>Photo</th>

								</tr>
								{% for record in questions %}
									
									<tr >
										<td id="td{{record.id}}"><button onClick="func({{record.id}})">{{record.id}}<span id="isTaken{{record.id}}"></span></td>
										<td id="answered{{record.id}}">?</td>
										<td>{{record.question_description}}</td>
										<td>{{record.a1}}</td>
										<td>{{record.a2}}</td>
										<td>{{record.a3}}</td>
										<td>{{record.a4}}</td>
										<td>{{record.rightAnswer}}</td>
									
										<td><img src="\{{record.photo}}"  width=50 height=50  /></td>
											
									</tr>
								
								{% endfor %}

							</table>
						{% endif %}
					
			<!--		</form>
				</div>-->

				
			</div>
		</div>
	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
       
		function func(id){
			
               var quizVal =  $("#quiz option:selected" ).text();
			   
               console.log(  id);
			  
              
                // TODO: verify values are valid
                var todoObj = { quiz: quizVal, questionId: id };
                var dataString = JSON.stringify(todoObj);
                $("#waitForIt").show();
                // NOTE: if currId = 0 then adding, otherwise updating
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/add_questionInQuiz",
                    type: "POST" ,
                    dataType: "json",
                  //  headers: { 'X-auth-username': username, 'X-auth-password': password },
                    data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                        if (jqxhr.status == 403) {
                            loginFailedHandler();
                        } else {
                           // alert("AJAX error: " + jqxhr.responseText);
                        }
                    }
                }).done(function () {
                    // TODO: alerts are obsolete, instead use HTML z-layer popup that shows up for 2-3 seconds
                   // alert( "Added successfully");
				    $("#answered" + id ).text('V');
                   // refreshTodoList();
                }).always(function () {
                   // currId = 0;
                    //$("#viewAddEditPane").hide();
                    $("#waitForIt").hide();
                });
				
		}
    </script>
{% endblock create_quiz %}
