{% extends "account.html.twig" %}

{% block create_question %}


	<div class="container h-100 ">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<br>
						{% if errorsArray %}
   							 <ul class="errorMessage">
       						 {% for error in errorsArray %}
           						 <li>{{ error }}</li>
       						 {% endfor %}
    						</ul>
						{% endif %}
						<img src="/images/question.png" height='100px' class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method='post' enctype="multipart/form-data">
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text">
									<i >Question</i>
								</span>
							</div>
							<input type="text" name="question" class="form-control input_user" value="{{question}}" placeholder="question">
						</div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text">
									<i >Photo</i>
								</span>
							</div>
							<input type="file" name="photo" class="form-control input_user" >
						</div>							
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text">
									<i >Answer1</i>
								</span>
							</div>
							<input type="text" name="a1" class="form-control input_user" value="{{a1}}" placeholder="answer1">
						</div>	
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text">
									<i >Answer2</i>
								</span>
							</div>
							<input type="text" name="a2" class="form-control input_user" value="{{a2}}" placeholder="answer2">
						</div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text">
									<i >Answer3</i>
								</span>
							</div>
							<input type="text" name="a3" class="form-control input_user" value="{{a3}}" placeholder="answer3">
						</div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text">
									<i >Answer4</i>
								</span>
							</div>
							<input type="text" name="a4" class="form-control input_user" value="{{a4}}" placeholder="answer4">
						</div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text">
									<i >Right Answer</i>
								</span>
							</div>
							<input type="text" name="rightAnswer" class="form-control input_user" value="{{rightAnswer}}" placeholder="right answer">
						</div>	
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text">
									<i >Level</i>
								</span>
							</div>
							<input type="text" name="level" class="form-control input_user" value="{{level}}" placeholder="level">
						</div>																																		
						
						<div class="d-flex justify-content-center mt-3 login_container">
							<button type="submit" name="submit" class="btn login_btn">Submit</button>
						</div>
					</form>
				</div>

				
			</div>
		</div>
	</div>


{% endblock create_question %}
