{% extends "account.html.twig" %}

{% block create_quiz %}


	<div class="container h-100 ">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<br>
						{% if errorsArray %}
   							 <ul class="errorMessage">
       						 {% for error in errorsArray %}
           						 <li>{{ error }}</li>
       						 {% endfor %}
    						</ul>
						{% endif %}
						<img src="/images/quiz.png" height='100px' class="brand_logo" alt="Logo">
						
					</div>
					
				</div>
				<br>
				<div class="d-flex justify-content-center form_container">
					<form method='post' enctype="multipart/form-data">
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text">
									<i >Description</i>
								</span>
							</div>
							<input type="text" name="description" class="form-control input_user" value="{{description}}" placeholder="description">
						</div>
											
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text">
									<i >Qustion</i>
								</span>
							</div>
							<textarea name="question" rows="8" cols="50" >
							</textarea>
						</div>	
						
																																								
						
						<div class="d-flex justify-content-center mt-3 login_container">
							<button type="submit" name="submit" class="btn login_btn">Submit</button>
						</div>
					</form>
				</div>

				
			</div>
		</div>
	</div>


{% endblock create_quiz %}
