{% extends "account.html.twig" %}

{% block create_quiz %}


	<div class="container h-100 ">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center"></div>
				<br>
				{% if errorsArray %}
					<ul class="errorMessage">
						{% for error in errorsArray %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
				<div class="d-flex justify-content-center form_container">
					<form method='post' enctype="multipart/form-data">
						<table class="table table-dark table-striped">

							<tr>
								<th>id</th>
								<th>descreption</th>
								<th>a1</th>
								<th>a2</th>
								<th>a3</th>
								<th>a4</th>
								<th>rightAnswer</th>
								<th>level</th>
								<th>photo</th>
							</tr>
							{% for record in records %}
								<tr>
									<td><input type='checkbox' name="formDoor[]" value={{record.id}}>{{record.id}}</td>
									<td>{{record.question_description}}</td>
									<td>{{record.a1}}</td>
									<td>{{record.a2}}</td>
									<td>{{record.a3}}</td>
									<td>{{record.a4}}</td>
									<td>{{record.rightAnswer}}</td>
									<td>{{record.level}}</td>
									<td>
										<img alt="Image preview..." src="/uploads/students/{{record.photo}}" height='80'></td>
								</tr>
							</label>
						</td>


					{% endfor %}
				</table>

				<button type='submit' name="formSubmit">create</button>

			</form>
		</div>
	</div>
</div></div>{% endblock create_quiz %}
