{% extends "account.html.twig" %}

{% block create_success %}
	<div class="container">
		<h2 class="display-3">Add Success!</h2>
						
		<a class="btn btn-primary btn-lg" href="/" role="button">Home »</a>
		<br><br>
	</div>
{% endblock create_success %}
