{% extends "account.html.twig" %}

{% block create_quiz %}


	<div class="container h-100 ">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center"></div>
				<br>
				{% if errorsArray %}
					<ul class="errorMessage">
						{% for error in errorsArray %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
				<div class="d-flex justify-content-center form_container">
					<form method='post' enctype="multipart/form-data">
						<input type="text" name="description" class="input_user" value="{{description}}" placeholder="description">

						<label for="activityType">Choose type:</label>
						<select id="activityType" name="activityType" on='change'>
							<option value="quiz" selected value="quiz">quiz</option>
							<option value="game" value="game">game</option>
						</select>

						<label for="activityid">Choose ID:</label>
						<select id="activityid" name="activityid"></select>


						<label for="dateDue">Due date:</label>
						<input type="date" id="dateDue" name="dateDue">


						<button type='submit' name="formSubmit">create</button>

					</form>
				</div>
			</div>
		</div>
	</div>

    <script>
        function selectItem(id) {
            $("#waitForIt").show();
            $.ajax({
                url: "/api/todos/" + id,
                type: "GET",
                dataType: "json",
                error: function (jqxhr, status, errorThrown) {
                    alert("AJAX error:" + jqxhr.responseText);
                }
            }).done(function (todo) {
                currId = id;
                $("#currentId").html(todo.id);
                $("input[name=task]").val(todo.task);
                $("input[name=dueDate]").val(todo.dueDate);
                $("input[name=isDone]").prop('checked', todo.isDone == 'done');
                $("#saveOrAdd").html("Save changes");
                $("#viewAddEditPane").show();
            }).always(function () {
                $("#waitForIt").hide();
            });
        }


        $(document).ready(function () {


            $("#saveOrAdd").click(function () {
                var taskVal = $("input[name=task]").val();
                var dueDateVal = $("input[name=dueDate]").val();
                var isDoneVal = $("input[name=isDone]").prop('checked') ? "done" : "pending";
                var todoObj = { task: taskVal, dueDate: dueDateVal, isDone: isDoneVal };
                var dataString = JSON.stringify(todoObj);
                // NOTE: if currId = 0 then adding, otherwise updating
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/api/get_quiz/todos",
                    type: "GET",
                    dataType: "json",
                    data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                    }
                }).done(function () {
                      refreshTodoList();
                })
            });
        });

        function refreshTodoList() {
     
            $.ajax({ 
                url: "/api/todos",
                type: "GET",
                dataType: "json",
                error: function (jqxhr, status, errorThrown) {
                    alert("AJAX error: " + jqxhr.responseText);
                }
            }).done(function (todoList) {
                var result = '<tr><th>#</th><th>Task</th><th class="dueDateColumn">Due date</th>'
                    + '<th>Done?</th></tr>';
                for (var i = 0; i < todoList.length; i++) {
                    var todo = todoList[i];
                    result += '<tr onclick="selectItem(' + todo.id + ')">';
                    result += '<td>' + todo.id + '</td>';
                    result += '<td>' + todo.task + '</td>';
                    result += '<td>' + todo.dueDate + '</td>';
                    result += '<td>' + todo.isDone + '</td>';
                    result += '</tr>' + "\n";
                }
                $("#listTable").html(result);
            }).always(function () {
                $("#waitForIt").hide();
            });
        }
    </script>



{% endblock create_quiz %}
