{% extends "account.html.twig" %}

{% block display_result %}
	{% if studentlist %}
		<div class="input-group mb-3" id="mainPane">
						
                            <div>	Student:
                                <select name="" id="" >
                                    {% for student in studentlist %}
                                        <option id="student{{student.id}}" value="{{student.id}}">{{student.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
		</div>
            <table class="table table-dark table-striped">
				<tr>

					<th>Quiz id</th>
					<th>result</th>
				</tr>
				{% for answer in answerlist %}
					<tr class='question'>
						<td>{{answer.quizid}}
						</td>
						<td>{{answer.resultPerc}}</td>
					</tr>

				{% endfor %}

		</table>
      
	{% endif %}
 		
      
{% endblock %}
