{% extends "account.html.twig" %}

{% block display_question %}
	{% if records %}
		<table class="table table-dark table-striped">
			<tr>
				<th>ID</th>
				<th>Question</th>
				<th>Answer1</th>
                <th>Answer2</th>
                <th>Answer3</th>
                <th>Answer4</th>
                <th>RightAnswer</th>
                <th>Level</th>
                <th>Photo</th>

			</tr>
			{% for record in records %}
				<tr>
					<td>{{record.id}}</td>
					<td>{{record.question_description}}</td>
					<td>{{record.a1}}</td>
                    <td>{{record.a2}}</td>
                    <td>{{record.a3}}</td>
                    <td>{{record.a4}}</td>
                    <td>{{record.rightAnswer}}</td>
                    <td>{{record.level}}</td>
                    <td><img src="\{{record.photo}}"  width=50 height=50  /></td>
				</tr>

			{% endfor %}

		</table>
	{% endif %}

	
{% endblock %}
