{% extends "account.html.twig" %}

{% block display_games %}
	{% if records %}
		<table class="table table-dark table-striped">
			<tr>
				<th>ID</th>
				<th>Description</th>
			
			</tr>
			{% for record in records %}
				<tr>
					<td>{{record.id}}</td>
					<td>{{record.description}}</td>
				

				</tr>

			{% endfor %}

		</table>
	{% endif %}

	
{% endblock %}
