{% extends "master.html.twig" %}
{% block title %} Internal error  {% endblock title %}  

{% block content %} 
   <p> Internal error occured</p>
   <p><a href="/" rel='stylesheet'/>  to continue</p>
   <img src='images/image_403.png'>

    

{% endblock content %}  