{% extends "master.html.twig" %}

{% block title %}
    Forbidden Access
{% endblock title %}

{% block content %}
    
    <div class='container'>
        <img src="/images/403.png" height=500px><br>

        
    </div>
{% endblock content %}