{% extends "master.html.twig" %}

{% block title %}Welcome
{% endblock %}
{% block head %}
	<script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>

{% endblock %}


   

{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQNqi4iaz3FtgI1oS45X0Rpm3mo-EdDXU&callback=initialize_map"     async defer></script>
	  <div id="map_contact" style="width:100%; height: 800px; background-color:#333;"></div>
	  <script type="text/javascript">
                   (function($) {
                       function initialize_map() {
						 
                             var LAT_LNG = new google.maps.LatLng(45.4065,-73.9413); //  add your location here
                             var mapOptions = {
                                    center: LAT_LNG,
                                    zoom: 12
                                };
                             var map = new google.maps.Map(document.getElementById("map_contact"), mapOptions);
 
                               office_marker_362 = new google.maps.Marker({
                                position: LAT_LNG,
                                map: map,
                                title: 'We are here!'
                            });
 
                       }
                             google.maps.event.addDomListener(window, 'load', initialize_map);
 
                   })(jQuery);
                   </script>

{% endblock %}
