<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="admin.css">
		<script>
                        $(document).ready(function () {
            $('.button-left').click(function () {
            $('.sidebar').toggleClass('fliph');
            });

            });
		</script>
	</head>
	<body>
		<header class="header">
			<nav class="navbar navbar-toggleable-md navbar-light pt-0 pb-0 ">
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<a class="navbar-brand p-0 mr-5" href="#"><img src="http://via.placeholder.com/61x14"></a>
				<div class="float-left">
					<a href="#" class="button-left">
						<span class="fa fa-fw fa-bars "></span>
					</a>
				</div>
				<div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item dropdown messages-menu">
							<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-bell-o"></i>
								<span class="label label-success bg-success">10</span>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<ul class="dropdown-menu-over list-unstyled">
									<li class="header-ul text-center">You have 4 messages</li>
									<li>
										<!-- inner menu: contains the actual data -->
										<ul class="menu list-unstyled">
											<li>
												<!-- start message -->
												<a href="#">
													<div class="pull-left">
														<img src="http://via.placeholder.com/160x160" class="rounded-circle  " alt="User Image">
													</div>
													<h4>
														Support Team
														<small>
															<i class="fa fa-clock-o"></i>
															5 mins</small>
													</h4>
													<p>Why not buy a new awesome theme?</p>
												</a>
											</li>
											<!-- end message -->
											<li>
												<a href="#">
													<div class="pull-left">
														<img src="http://via.placeholder.com/160x160" class="rounded-circle " alt="User Image">
													</div>
													<h4>
														AdminLTE Design Team
														<small>
															<i class="fa fa-clock-o"></i>
															2 hours</small>
													</h4>
													<p>Why not buy a new awesome theme?</p>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="pull-left">
														<img src="http://via.placeholder.com/160x160" class="rounded-circle " alt="User Image">
													</div>
													<h4>
														Developers
														<small>
															<i class="fa fa-clock-o"></i>
															Today</small>
													</h4>
													<p>Why not buy a new awesome theme?</p>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="pull-left">
														<img src="http://via.placeholder.com/160x160" class="rounded-circle " alt="User Image">
													</div>
													<h4>
														Sales Department
														<small>
															<i class="fa fa-clock-o"></i>
															Yesterday</small>
													</h4>
													<p>Why not buy a new awesome theme?</p>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="pull-left">
														<img src="http://via.placeholder.com/160x160" class="rounded-circle " alt="User Image">
													</div>
													<h4>
														Reviewers
														<small>
															<i class="fa fa-clock-o"></i>
															2 days</small>
													</h4>
													<p>Why not buy a new awesome theme?</p>
												</a>
											</li>
										</ul>
									</li>
									<li class="footer-ul text-center">
										<a href="#">See All Messages</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item dropdown notifications-menu">
							<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-envelope-o"></i>
								<span class="label label-warning bg-warning">10</span>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<ul class="dropdown-menu-over list-unstyled">
									<li class="header-ul text-center">You have 10 notifications</li>
									<li>
										<!-- inner menu: contains the actual data -->
										<ul class="menu list-unstyled">
											<li>
												<a href="#">
													<i class="fa fa-users text-aqua"></i>
													5 new members joined today
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-warning text-yellow"></i>
													Very long description here
													                                                that
													                                                may not fit into the
													                                                page and may cause design problems
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-users text-red"></i>
													5 new members joined
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-shopping-cart text-green"></i>
													25 sales made
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-user text-red"></i>
													You changed your username
												</a>
											</li>
										</ul>
									</li>
									<li class="footer-ul text-center">
										<a href="#">View all</a>
									</li>
								</ul>
							</div>
						</li>

						<li class="nav-item dropdown  user-menu">
							<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img src="http://via.placeholder.com/160x160" class="user-image" alt="User Image">
								<span class="hidden-xs">bootstrap develop</span>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</header>
	</body>
</html>
