{% extends "account.html.twig" %}
{% block hello_account %}
						<h1 class="display-3">Hello, {{session.user.name}}</h1>
						<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
						<p>
							<a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>
						</p>
{% endblock hello_account %}
