{% extends "master.html.twig" %}

{% block title %}Welcome
{% endblock %}
{% block head %}
	<script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
{% endblock %}


{% block content %}


	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">ONLINE EDUCATION</h1>
			<p>Online education is a flexible instructional delivery system that encompasses any kind of learning that takes place via the Internet. Online learning gives educators an opportunity to reach students who may not be able to enroll in a traditional classroom course and supports students who need to work on their own schedule and at their own pace.

The quantity of distance learning and online degrees in most disciplines is large and increasing rapidly. Schools and institutions that offer online learning are also increasing in number. Students pursuing degrees via the online approach must be selective to ensure that their coursework is done through a respected and credentialed institution.<p>
				<a class="btn btn-primary btn-lg" href="/" role="button">Learn more »</a>
			</p>
		</div>
	</div>


	<div
		class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>Introduction to Family Engagement in Education</h2>
				<p>In this education course, you will learn what family engagement is and why it matters to the success of students and schools. We will explore the research linking family engagement to better educational outcomes and speak directly with researchers, educators, students, and families about promising practices in the field.

Family engagement describes what families do at home and in the community to support their children’s learning and development. It also encompasses the shared partnership and responsibility between home and school.

Such engagement is essential for school improvement. It is also increasingly recognized as an integral element for proficient practice as an educator.
</p>
				<p>
					<a class="btn btn-secondary" href="#" role="button">View details »</a>
				</p>
			</div>
			<div class="col-md-4">
				<h2>Tangible Things</h2>
				<p>Have you ever wondered about how museum, library, and other kinds of historical or scientific collections all come together? Or how and why curators, historians, archivists, and preservationists do what they do?

In Tangible Things, you will discover how material objects have shaped academic disciplines and reinforced or challenged boundaries between people. This course will draw on some of the fascinating items housed at Harvard University, highlighting several to give you a sense of the power of learning through tangible things.
</p>
				<p>
					<a class="btn btn-secondary" href="#" role="button">View details »</a>
				</p>
			</div>
			<div class="col-md-4">
				<h2>Strong Relationships and Interactions: A CEEL Module</h2>
				<p>Offered through the Zaentz Professional Learning Academy at the Harvard Graduate School of Education, the Certificate in Early Education Leadership (CEEL) is designed to provide leaders with the core knowledge, management skills, and tools necessary to build and advance high-quality early education across learning environments.

The CEEL Portfolio consists of three carefully crafted series. Each of the three series includes four instructional Learn modules that build participants’ core knowledge in key areas, including early learning and development, adult learning, and leadership and management. The fifth module is a Plan and Apply module designed to support participants as they map key learnings and to create and implement a plan tailored to their site and work. Participants may take the Learn modules in any order but must complete all four Learn modules in a series before they take the Plan and Apply module within that series.
<p>
					<a class="btn btn-secondary" href="#" role="button">View details »</a>
				</p>
			</div>
		</div>

		<hr>

	</div>
			<div id="footer">
                &copy; Copyright 2020 by <a href="http://onlineedu.ipd20.com/"> OnlineEdu</a>.
        </div>
{% endblock %}
