{% extends "master.html.twig" %}

{% block title %}
	login
{% endblock title %}
{% block head %}
	<link rel="stylesheet" href="css/index.css"/>
{% endblock %}
{% block content %}


	<div class="container h-100 ">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<br>
						{% if error %}

							<p>	{{error}}</p>

						{% endif %}
						<img src="/images/logo.png" height='100px' class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method='post'>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="fas fa-user"></i>
								</span>
							</div>
							<input type="text" name="email" class="form-control input_user" value="{{email}}" placeholder="email">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="fas fa-key"></i>
								</span>
							</div>
							<input type="password" name="password" class="form-control input_pass" value="" placeholder="password">
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="rememberme">
								<label class="custom-control-label" for="rememberme">Remember me</label>
							</div>
						</div>
						<div class="d-flex justify-content-center mt-3 login_container">
							<button type="submit" name="login" class="btn login_btn">Login</button>
						</div>
					</form>
				</div>

				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account?
						<a href="register.html.twig" class="ml-2">Sign Up</a>
					</div>
					<div class="d-flex justify-content-center links">
						<a href="/passreset_request">Forgot your password?</a>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock content %}
