<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="/css/admin.css">
		<title>Online Education</title>
		{% block stylesheets %}{% endblock %}
	</head>

	<body>

    </script>

		<script>
			$(document).ready(function () {
			$('.button-left').click(function () {
			$('.sidebar').toggleClass('fliph');
			});

			});
		</script>

		<header class="header">
			<nav class="navbar navbar-toggleable-md navbar-light pt-0 pb-0 ">
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<a class="navbar-brand p-0 mr-5" href="/"><img src="/images/logo.png" height='61px'></a>
				<!-- <div class="float-left"> <a href="#" class="button-left"><span class="fa fa-fw fa-bars "></span></a> </div> -->
				<div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item dropdown messages-menu">

							<a class="nav-link dropdown-toggle" href="/googleMap" >
								<i ></i>
								<span><img src="/images/googleMap.png" height='20px'>
								</span>
							</a>
							
						</li>					
						<li class="nav-item dropdown messages-menu">

							<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-bell-o"></i>
								<span class="label label-success bg-success">10</span>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<ul class="dropdown-menu-over list-unstyled">
									<li class="header-ul text-center">You have 4 messages</li>
									<li>
										<!-- inner menu: contains the actual data -->
										<ul class="menu list-unstyled">
											<li>
												<!-- start message -->
												<a href="#">
													<div class="pull-left">
														<img src="http://via.placeholder.com/160x160" class="rounded-circle  " alt="User Image">
													</div>
													<h4>
														Support Team
														<small>
															<i class="fa fa-clock-o"></i>
															5 mins</small>
													</h4>
													<p>Why not buy a new awesome theme?</p>
												</a>
											</li>
											<!-- end message -->
											<li>
												<a href="#">
													<div class="pull-left">
														<img src="http://via.placeholder.com/160x160" class="rounded-circle " alt="User Image">
													</div>
													<h4>
														AdminLTE Design Team
														<small>
															<i class="fa fa-clock-o"></i>
															2 hours</small>
													</h4>
													<p>Why not buy a new awesome theme?</p>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="pull-left">
														<img src="http://via.placeholder.com/160x160" class="rounded-circle " alt="User Image">
													</div>
													<h4>
														Developers
														<small>
															<i class="fa fa-clock-o"></i>
															Today</small>
													</h4>
													<p>Why not buy a new awesome theme?</p>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="pull-left">
														<img src="http://via.placeholder.com/160x160" class="rounded-circle " alt="User Image">
													</div>
													<h4>
														Sales Department
														<small>
															<i class="fa fa-clock-o"></i>
															Yesterday</small>
													</h4>
													<p>Why not buy a new awesome theme?</p>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="pull-left">
														<img src="http://via.placeholder.com/160x160" class="rounded-circle " alt="User Image">
													</div>
													<h4>
														Reviewers
														<small>
															<i class="fa fa-clock-o"></i>
															2 days</small>
													</h4>
													<p>Why not buy a new awesome theme?</p>
												</a>
											</li>
										</ul>
									</li>
									<li class="footer-ul text-center">
										<a href="#">See All Messages</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item dropdown notifications-menu">
							<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-envelope-o"></i>
								<span class="label label-warning bg-warning">11</span>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<ul class="dropdown-menu-over list-unstyled">
									<li class="header-ul text-center">You have 10 notifications</li>
									<li>
										<!-- inner menu: contains the actual data -->
										<ul class="menu list-unstyled">
											<li>
												<a href="#">
													<i class="fa fa-users text-aqua"></i>
													5 new members joined today
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-warning text-yellow"></i>
													Very long description here
																										                                                that
																										                                                may not fit into the
																										                                                page and may cause design problems
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-users text-red"></i>
													5 new members joined
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-shopping-cart text-green"></i>
													25 sales made
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-user text-red"></i>
													You changed your username
												</a>
											</li>
										</ul>
									</li>
									<li class="footer-ul text-center">
										<a href="#">View all</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item dropdown  user-menu">

							{% if session.user %}

								<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="hidden-xs">{{ session.user.name }}</span>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="/account/{{session.user.id }}">Account</a>
									<a class="dropdown-item" href="/logout">logout</a>
								</div>
							{% else %}
								<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<img src="/images/unloginuser.png" class="user-image" alt="User Image">
									<span class="hidden-xs">Please login</span>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="/login">Login</a>
									<a class="dropdown-item" href="/register">Register</a>
								</div>

							{% endif %}

						</li>
					</ul>
				</div>
			</nav>
		</header>

		{% block content %}{% endblock %}
		{% block section %}{% endblock %}
		{% block photoChange %}{% endblock %}

	</body>

</html>
