{% extends "account.html.twig" %}

{% block parents_teacherview %}
   {% if records %}
        <table  class="table table-dark table-striped"><tr>
                    <th>id</th>
                    <th>name</th>
                    <th>email</th>
                    <th>address</th>
                    <th>phone</th>
                </tr>
            {% for record in records %}
                <tr>
                    <td>{{record.id}}</td>
                    <td>{{record.name}}</td>
                    <td>{{record.email}}</td>
                    <td>{{record.address}}</td>
                    <td>{{record.phone}}</td>
                </tr>
            
            {% endfor %}
        
        </table>
    {% endif %}

    <p> this is from parent detail view</p>

{% endblock %}