{% extends "account.html.twig" %}

{% block parents_userview %}
	{% if record %}

		<table class="table table-dark table-striped">
			<tr>
		
				<th>name</th>
				<th>email</th>
				<th>address</th>
				<th>phone</th>

			</tr>

			<tr>
				<form method="post">
				
					<td><input value={{record.name}} name='name'></td>
					<td>{{record.email}} </td>
					<td><input name='address' value={{record.address}} ></td>
					<td><input name='phone' value={{record.phone}} ></td>
					<td>
						<button type='submit'>update</button>
					</td>
				</form>
			</tr>

		</table>
	{% endif %}
	<p>this is from parent  detail view</p>
{% endblock %}
