{% extends "master.html.twig" %}

{% block title %}
    Password reset request
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/login.css"/>
{% endblock stylesheets %}

{% block header %}{% endblock header %}

{% block section %}
    <form method="POST" autocomplete="off">
         <p>Enter your Email:</p>
        <div class="formInput">
           
            <label></label>
            <input type="text" name="email" />
        </div>
        <div class="buttonDiv">
            <button type="submit">Send password reset email</button>
        </div>
    </form>
{% endblock section %}