{% extends "master.html.twig" %}
{% block title %}
	Register
{% endblock title %}
{% block head %}
	<link rel="stylesheet" href="css/index.css"/>

	<script>
        $(document).ready(function() {
			 $('input[name=email]').on('keyup keypress blur change cut paste', function() {
                var email = $('input[name=email]').val();
				if(email)
					$('#isTaken').load("/checkemailavailable/" + email);		
            });
        });
        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>

{% endblock %}
{% block content %}
	{% if errorArray %}
		<ul>
			{% for err in errorArray %}
				<li>{{ err }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<div class="d-flex justify-content-center form_container">
		<form method="post">
			<h2>Sign Up</h2>
			<p>Please fill in this form to create an account!</p>
			<hr>
			<div class="form-group">
				<div class="col-xs-6"><input type="text" class="form-control"  name="username" placeholder="username" value="{{v.name}}" required="required"></div>
	
			</div>

			<div class="form-group">
				<input type="email" class="form-control" name="email" placeholder="Email"  value="{{v.email}}" required="required">
				<div class="col-xs-6"><span id='isTaken'></span></div>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="pass1" placeholder="Password" required="required">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="pass2" placeholder="Confirm Password" required="required">
			</div>

		
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
			</div>
		</form>
	</div>

	
{% endblock content %}
