{% extends "account.html.twig" %}

{% block student_teacherview %}
   {% if records %}
        <table  class="table table-dark table-striped"><tr>
                    <th>id</th>
                    <th>name</th>
                    <th>parentId</th>
                    <th>photo</th>

                </tr>
            {% for record in records %}
                <tr>
                    <td>{{record.id}}</td>
                    <td>{{record.name}}</td>
                    <td>{{record.parentid}}</td>
                    <td>
                      <image src="/uploads/students/{{record.photo}}" height='80'></image>
                    </td>

                </tr>
            
            {% endfor %}
        
        </table>
    {% endif %}
    
    <p> this is from student  detail view</p>
        
{% endblock %}