{% extends "account.html.twig" %}

{% block student_userview %}
{% if records %}

	<table class="table table-dark table-striped">
		<tr>
			<th>id</th>
			<th>name</th>
			<th>parentId</th>
			<th>photo</th>

		</tr>
		{% for record in records %}
			<tr>
				<form method="post" id="form{{record.id}}"  enctype="multipart/form-data">
					<td>{{record.id}}<input value={{record.id }} name='studentid' hidden></td>
					<td><input value={{record.name}} name='name'></td>
					<td>{{record.parentid}}</td>
					<td>
						<input type="file" name="file{{record.id}}" id="file{{record.id}}"  hidden onchange="previewFile({{record.id}})"/>
						<label for="file{{record.id}}" class='btn btn-success'><img id="img{{record.id}}" alt="Image preview..."  name='photo{{record.id}}' src="/uploads/students/{{record.photo}}" height='80'></label>
					</td>
				</td>
				<td>
					<button  type='submit'>update</button >
				</td>
			</tr>
		</form>
	</tr>

{% endfor %}</table>{% endif %}<p></p>{% endblock %}


{% block photoChange %}
	<script>function previewFile(id) {
		var preview = document.querySelector('#img'+id);
		var file = document.querySelector('#file'+id).files[0];
		var reader = new FileReader();

		reader.onloadend = function () {
		preview.src = reader.result;
		}

		if (file) {
		reader.readAsDataURL(file);
		} else {
		preview.src = "";
		}
		}
	</script>

{% endblock %}
