{% extends "account.html.twig" %}

{% block take_questions %}
	{% if records %}
		<form method='post'>
			<h3>
				Quiz:
				{{quiz.description}}
				<span id="quizsubmited" hidden></span>
			</h3>
			{% if kids %}
			<div>
				<select name="studentid" id="studentid" >
					{% for kid in kids %}
						<option id="student{{kid.id}}" value="{{kid.id}}">{{kid.name}}</option>
					{% endfor %}
				</select>
			</div>
			{% endif %}
			<table class="table table-dark table-striped" id="quiztable">
				<tr>

					<th>Photo</th>
					<th>Question</th>
					<th>Choose</th>
				</tr>
				{% for record in records %}
					<tr class='question'>
						<td><img src="\{{record.photo}}" width="50" height="50"/></td>
						<td>{{record.question_description}}</td>
						<td><input type='radio' id="question{{record.id}}{{record.a1}}" name="question{{record.id}}" value="{{record.a1}}"><label for="question{{record.id}}{{record.a1}}">{{record.a1}}</label>
						</td>
						<td><input type='radio' id="question{{record.id}}{{record.a2}}" name="question{{record.id}}" value="{{record.a2}}"><label for="question{{record.id}}{{record.a2}}">{{record.a2}}</label>
						</td>
						<td><input type='radio' id="question{{record.id}}{{record.a3}}" name="question{{record.id}}" value="{{record.a3}}"><label for="question{{record.id}}{{record.a3}}">{{record.a3}}</label>
						</td>
						<td><input type='radio' id="question{{record.id}}{{record.a4}}" name="question{{record.id}}" value="{{record.a4}}"><label for="question{{record.id}}{{record.a4}}">{{record.a4}}</label>
						</td>

					</tr>

				{% endfor %}

			</table>

			<button type='button' id="quizSubmit" name="quizSubmit">submit</button>

		</form>
		<script>
			$('#quizSubmit').click(function () {
var studentid = $('#studentid>option:selected').val();

var quizid = {{ quiz.id }};

var answerArray = getChecklistItems().split('|');

var resultPerc = 0;

var userObj = {
studentid: studentid,
quizid: quizid,
answerArray: answerArray
};
var dataString = JSON.stringify(userObj);

$.ajax({
		url: "/take_quiz",
		type: "POST",
		dataType: "json",
		data: dataString,
		error: function (jqxhr, status, errorThrown) {
			if (jqxhr.status != 201) {
				alert("AJAX error: forbbident");}
			}
		}).done(function () {
		
		}).always(function () {
					$("#quiztable").hide();
					$('#quizsubmited').removeAttr('hidden');
					$("#quizSubmit").hide();
					$("#quizsubmited").text(" has submited successfully");
			});
		});


function getChecklistItems() {
var result = $(".question input:radio:checked").get();

var columns = $.map(result, function (element) {
return $(element).attr("value");
});
return columns.join("|");
}
		</script>


	{% endif %}

{% endblock %}
