{% extends "account.html.twig" %}

{% block take_questions %}
	{% if records %}


		<form method='post'>
			<h3 id='quizid'>{{quiz.id}}<span>:{{quiz.description}}<span></h3>
			<table class="table table-dark table-striped">
				<tr>

					<th>Photo</th>
					<th>Question</th>
					<th>Choose</th>
				</tr>
				{% for record in records %}
					<tr class='question'>
						<td><img src="\{{record.photo}}" width="50" height="50"/></td>
						<td>{{record.question_description}}</td>
						<td><input type='radio' id ="question{{record.id}}{{record.a1}}"  name="question{{record.id}}" value="{{record.a1}}"><label for="question{{record.id}}{{record.a1}}"  >{{record.a1}}</label></td>
						<td><input type='radio' id ="question{{record.id}}{{record.a2}}"  name="question{{record.id}}" value="{{record.a2}}"><label for="question{{record.id}}{{record.a2}}"  >{{record.a2}}</label></td>
						<td><input type='radio' id ="question{{record.id}}{{record.a3}}"  name="question{{record.id}}" value="{{record.a3}}" ><label for="question{{record.id}}{{record.a3}}" >{{record.a3}}</label></td>
						<td><input type='radio' id ="question{{record.id}}{{record.a4}}"  name="question{{record.id}}" value="{{record.a4}}"><label for="question{{record.id}}{{record.a4}}"  >{{record.a4}}</label></td>
					</tr>

				{% endfor %}

			</table>

			<button type='button' id="quizSubmit" name="quizSubmit">submit</button>

		</form>
	<script>
		{% for record in records %}
		var studentid = $("#studentid").val();
			var quizid = $("#quizid").val();
			var resultPerc = 0;
			var answerArray=getChecklistItems();
		{% endfor %}

		$('#quizSubmit').click(function () {
			
			var studentid = $("#studentid").val();
			var quizid = $("#quizid").val();
			var resultPerc = 0;
			var answerArray=getChecklistItems();
	
                // TODO: verify values are valid
                var todoObj = { task: taskVal, dueDate: dueDateVal, isDone: isDoneVal };
                var dataString = JSON.stringify(todoObj);
                $("#waitForIt").show();
                // NOTE: if currId = 0 then adding, otherwise updating
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/api/todos" + (currId == 0 ? "" : "/" + currId),
                    type: currId == 0 ? "POST" : "PUT",
                    dataType: "json",
                    headers: { 'X-auth-username': username, 'X-auth-password': password },
                    data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                        if (jqxhr.status == 403) {
                            loginFailedHandler();
                        } else {
                            alert("AJAX error: " + jqxhr.responseText);
                        }
                    }
                })





			
		});







		function getChecklistItems() {
			var result =
				$(".question input:radio:checked").get();

			var columns = $.map(result, function (element) {
				return $(element).attr("value");
			});
			return columns.join(",");
		}
	</script>


	{% endif %}

{% endblock %}
