{% extends "account.html.twig" %}

{% block take_questions %}
	{% if records %}
        
		<table class="table table-dark table-striped">
			<tr>
				
                <th>Photo</th>
                <th></th>
				<th>Question</th>
				<th>Choose</th>
			</tr>
			{% for record in records %}
			    <tr>

                    <td><img src="\{{record.photo}}"  width=50 height=50  /></td>
                    <td id="answered{{record.id}}">?</td>
					<td>{{record.question_description}}</td>
                    <td><button onClick="isRight('{{record.a1}}','{{record.id}}','{{quiz}}','{{record.rightAnswer}}','{{userId}}')">{{record.a1}}</button></td>
                    <td><button onClick="isRight('{{record.a2}}','{{record.id}}','{{quiz}}','{{record.rightAnswer}}','{{userId}}')">{{record.a2}}</button></td>
                    <td><button onClick="isRight('{{record.a3}}','{{record.id}}','{{quiz}}','{{record.rightAnswer}}','{{userId}}')">{{record.a3}}</button></td>
                    <td><button onClick="isRight('{{record.a4}}','{{record.id}}','{{quiz}}','{{record.rightAnswer}}','{{userId}}')">{{record.a4}}</button></td>
				</tr>
               
			{% endfor %}

<div id="waitForIt" style="z-index: 2; position: absolute; top: 0; left: 450px;">
            <img src="/images/swirl.gif" width="50">
        </div>
		</table>
	{% endif %}
                <p>
							<a class="btn btn-primary btn-lg" href="/display_result" role="button">Show Result</a>
						</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>

        var currId = 0; // id of currently selected item, 0 if none
        var username = "", password = "";
        var sortOrder = "id";

		
        function selectItem(id) {
            $("#waitForIt").show();
            $.ajax({
                url: "/display_quizQuestion" + id,
                type: "GET",
                dataType: "json",
                headers: { 'X-auth-username': username, 'X-auth-password': password },
                error: function (jqxhr, status, errorThrown) {
                    if (jqxhr.status == 403) {
                        loginFailedHandler();
                    } else {
                        alert("AJAX error: " + jqxhr.responseText);
                    }
                }
            }).done(function (todo) {
                currId = id;
                $("#currentId").html(todo.id);
                $("input[name=task]").val(todo.task);
                $("input[name=dueDate]").val(todo.dueDate);
                $("input[name=isDone]").prop('checked', todo.isDone == 'done');
                $("#saveOrAdd").html("Save changes");
                $("#viewAddEditPane").show();
            }).always(function () {
                $("#waitForIt").hide();
            });
        }


        $(document).ready(function () {

			 $("#quiz").on('change', function() {

				 console.log("quiz change");
				 refreshTodoList();
			 });
            $("#waitForIt").hide();
            $("#mainAppPane").hide();
            $("#viewAddEditPane").hide();
			$("#logout").hide();

            $("#loginButton").click(function() {
                username = $("input[name=username]").val();
                password = $("input[name=password]").val();
                $("#loginPane").hide();
                $("#mainAppPane").show();
				$("#logout").show();
				$("#registerPane").hide();
                refreshTodoList();
            });

            $("#showAddItem").click(function () {
                $("input[name=task]").val("");
                $("input[name=dueDate]").val("");
                $("input[name=isDone]").prop('checked', false);
                $("#viewAddEditPane").show();
                $("#saveOrAdd").html("Add todo");
                currId = 0;
                $("#currentId").html(currId);
            });
            $("#cancel").click(function() {
                    $("#viewAddEditPane").hide();
            });

            $("#delete").click(function() {
                    if (currId == 0) return;
                    if (!confirm("Are you sure you want to delete this item")) return;
                    $("#waitForIt").show();
                    $.ajax({
                            url: "/api/todos/" + currId,
                            type: "DELETE",
                            dataType: "json",
                            headers: { 'X-auth-username': username, 'X-auth-password': password },
                            error: function (jqxhr, status, errorThrown) {
                                if (jqxhr.status == 403) {
                                    loginFailedHandler();
                                } else {
                                    alert("AJAX error: " + jqxhr.responseText);
                                }
                            }
                        }).done(function (result) {
                            alert("Deleted successfully: " + result);
                            currId = 0; // no selected row
                            refreshTodoList();
                        }).always(function () {
                            $("#viewAddEditPane").hide();
                            $("#waitForIt").hide();
                        });
                });

            $("#saveOrAdd").click(function () {
                var taskVal = $("input[name=task]").val();
                var dueDateVal = $("input[name=dueDate]").val();
                var isDoneVal = $("input[name=isDone]").prop('checked') ? "done" : "pending";
                // TODO: verify values are valid
                var todoObj = { task: taskVal, dueDate: dueDateVal, isDone: isDoneVal };
                var dataString = JSON.stringify(todoObj);
                $("#waitForIt").show();
                // NOTE: if currId = 0 then adding, otherwise updating
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/api/todos" + (currId == 0 ? "" : "/" + currId),
                    type: currId == 0 ? "POST" : "PUT",
                    dataType: "json",
                    headers: { 'X-auth-username': username, 'X-auth-password': password },
                    data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                        if (jqxhr.status == 403) {
                            loginFailedHandler();
                        } else {
                            alert("AJAX error: " + jqxhr.responseText);
                        }
                    }
                }).done(function () {
                    // TODO: alerts are obsolete, instead use HTML z-layer popup that shows up for 2-3 seconds
                    alert((currId == 0 ? "Added" : "Updated") + " successfully");
                    refreshTodoList();
                }).always(function () {
                    currId = 0;
                    $("#viewAddEditPane").hide();
                    $("#waitForIt").hide();
                });
            });

            $("#registerButton").click(function () {
                var newUsername = $("input[name=newUsername]").val();
                var newPass1 = $("input[name=newPass1]").val();
                var newPass2 = $("input[name=newPass2]").val();
                if (newPass1 != newPass2) {
                    alert("Both passwords must be the same");
                    return;
                }
                var userObj = { email: newUsername, password: newPass1 };
                var dataString = JSON.stringify(userObj);
                $("#waitForIt").show();
                // NOTE: if currId = 0 then adding, otherwise updating
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/api/users",
                    type: "POST",
                    dataType: "json",
                    data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                    }
                }).done(function () {
                    // TODO: alerts are obsolete, instead use HTML z-layer popup that shows up for 2-3 seconds
                    alert("User registered successfully. You may now login.");
                    $("input[name=newUsername]").val("");
                    $("input[name=newPass1]").val("");
                    $("input[name=newPass2]").val("");
                }).always(function () {
                    $("#waitForIt").hide();
                });
            });
			//
			$("#btLogout").click(function () {
					console.log("logou");
					//$("#login").show();
					//$("#registerPane").show();
                
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/logout",
                    type: "GET",
                    //dataType: "json",
                    //data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                    }
                }).done(function () {
                    // TODO: alerts are obsolete, instead use HTML z-layer popup that shows up for 2-3 seconds
       
                }).always(function () {
                    $("#waitForIt").hide();
                
                    $("#viewAddEditPane").hide();
                    $("#waitForIt").hide();
					$("#loginPane").show();
					$("#registerPane").show();
					 $("#mainAppPane").hide();
					 $("#logout").hide();
					  $("input[name=username]").val("");
                    $("input[name=password]").val("");
					 
                });
            });

        });

        function loginFailedHandler() {
            alert("Authentication failed");
            $("input[name=username]").val("");
            $("input[name=password]").val("");
            $("#loginPane").show();
			$("#registerPane").show();
            $("#mainAppPane").hide();
        }

        function refreshTodoList() {
            $("#waitForIt").show();
			 quiz =  $("#quiz option:selected" ).text();
            $.ajax({ // FIXME: escape special characters using urlencode
                url: "/display_quizQuestion?sortBy=" + sortOrder + "&quiz=" + quiz,
                type: "GET",
                headers: { 'X-auth-username': username, 'X-auth-password': password },
                dataType: "json",
                error: function (jqxhr, status, errorThrown) {
                    if (jqxhr.status == 403) {
                        loginFailedHandler();
                    } else {
                        alert("AJAX error: " + jqxhr.responseText + ", status: " + jqxhr.status);
                    }
                }
            }).done(function (todoList) {
                var result = '<tr><th onclick="sortBy(\'id\');" id="idTh">#</th>'
                    + '<th onclick="sortBy(\'question_description\');" id="questionTh" >Question</th>'
					+ '<th onclick="sortBy(\'a1\');" id="a1Th" >Answer1</th>'
					+ '<th onclick="sortBy(\'a2\');" id="a2Th" >Answer2</th>'
					+ '<th onclick="sortBy(\'a3\');" id="a3Th" >Answer3</th>'
					+ '<th onclick="sortBy(\'a4\');" id="a4Th" >Answer4</th>'
					+ '<th onclick="sortBy(\'rightAnswer\');" id="rightAnswerTh" >Right Answer</th>'
					+ '<th onclick="sortBy(\'id\');" id="photoTh" >photo</th></tr>';
                for (var i = 0; i < todoList.length; i++) {
                    var todo = todoList[i];
                    result += '<tr onclick="selectItem(' + todo.id + ')">';
                    result += '<td>' + todo.id + '</td>';
                    result += '<td>' + todo.question_description + '</td>';
                    result += '<td>' + todo.a1 + '</td>';
					result += '<td>' + todo.a2 + '</td>';
					result += '<td>' + todo.a3 + '</td>';
					result += '<td>' + todo.a4 + '</td>';
                    result += '<td>' + todo.rightAnswer + '</td>';
					result += '<td><img src="\\' + todo.photo + '" width=50 height=50  /></td>';
                    result += '</tr>' + "\n";
                }
                $("#listTable").html(result);
            }).always(function () {
                $("#waitForIt").hide();
                // add star at the end of the current sort order
                var title = $("#" + sortOrder + "Th").text();
                $("#" + sortOrder + "Th").text( title + "*");
            });
        }

        function sortBy(order) {
            console.log("sorting by " + order);
            sortOrder = order;
            refreshTodoList();
        }
//
	
		
        // just for demonstration purposes, do not use in production code
        function wait(ms){
            var start = new Date().getTime();
            var end = start;
            while(end < start + ms) {
                end = new Date().getTime();
            }
        }

   

    function isRight(answer, id, quiz, rightAnswer, userId){
        console.log(answer, id, quiz, rightAnswer, userId);
        $("#answered" + id ).text('V');
       /*
                // TODO: verify values are valid
                var todoObj = { studentid: userId, quiz: quiz, questionId: id, answer: answer, rightAnswer: rightAnswer };
              // var todoObj = { quiz: quiz};
  
                var dataString = JSON.stringify(todoObj);
                $("#waitForIt").show();
                // NOTE: if currId = 0 then adding, otherwise updating
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/add_answer1" + (currId == 0 ? "" : "/" + currId),
                    type: currId == 0 ? "POST" : "PUT",
                    dataType: "json",
                    headers: { 'X-auth-username': username, 'X-auth-password': password },
                    data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                        if (jqxhr.status == 403) {
                            loginFailedHandler();
                        } else {
                            alert("AJAX error: " + jqxhr.responseText);
                        }
                    }
                }).done(function () {
                    // TODO: alerts are obsolete, instead use HTML z-layer popup that shows up for 2-3 seconds
                    alert((currId == 0 ? "Added" : "Updated") + " successfully");
                    refreshTodoList();
                }).always(function () {
                    currId = 0;
                   // $("#viewAddEditPane").hide();
                    $("#waitForIt").hide();
                });
            
*/
 //var todoObj = { quiz: 'Quiz2', questionId: '5' };
  var todoObj = { studentid: userId, quiz: quiz, questionId: id, answer: answer, rightAnswer: rightAnswer };
                var dataString = JSON.stringify(todoObj);
                $("#waitForIt").show();
                // NOTE: if currId = 0 then adding, otherwise updating
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/add_answer",
                    type: "POST" ,
                    dataType: "json",
                  //  headers: { 'X-auth-username': username, 'X-auth-password': password },
                    data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                        if (jqxhr.status == 403) {
                            loginFailedHandler();
                        } else {
                            alert("AJAX error: " + jqxhr.responseText);
                        }
                    }
                }).done(function () {
                    // TODO: alerts are obsolete, instead use HTML z-layer popup that shows up for 2-3 seconds
                    //alert( "Added successfully");
                   // refreshTodoList();
                }).always(function () {
                   // currId = 0;
                    //$("#viewAddEditPane").hide();
                    $("#waitForIt").hide();
                });

    }

    </script>
{% endblock %}
