{% extends "account.html.twig" %}

{% block display_quiz %}
	{% if records %}
		<div class="input-group mb-3" id="mainPane">
							<div class="input-group-append">
								<span class="input-group-text">
									<i >Quiz</i>
								</span>
							</div>
							<select id="quiz" name="quiz">
								<option value=""></option>
								{% if records %}            
									{% for q in records %}
									<option value="{{q.descriprion}}">{{q.description}}</option>
									{% endfor %}            
								{% endif %}
							</select>
                            <div class="input-group-append">
								<span class="input-group-text">
									<i >Student</i>
								</span>
							</div>
							<select id="student" name="student">
								<option value=""></option>
								{% if users %}            
									{% for u in users %}
									<option value="{{u.id}}">{{u.name}}</option>
									{% endfor %}            
								{% endif %}
							</select>
		</div>
		<table id="listTable" class="table table-dark table-striped">
			
		</table>
        <p id='showResult' style="display: none">
							
                            <a class="btn btn-primary btn-lg" href="/account/1" role="button" >Finish</a>
						</p>
		        <div id="waitForIt" style="z-index: 2; position: absolute; top: 0; left: 450px;">
            <img src="/images/swirl.gif" width="50">
        </div>
	{% endif %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
	<script>

        var currId = 0; // id of currently selected item, 0 if none
        var username = "", password = "";
        var sortOrder = "id";

		
        function selectItem(id) {
            $("#waitForIt").show();
            $.ajax({
                url: "/display_quizQuestion" + id,
                type: "GET",
                dataType: "json",
                headers: { 'X-auth-username': username, 'X-auth-password': password },
                error: function (jqxhr, status, errorThrown) {
                    if (jqxhr.status == 403) {
                        loginFailedHandler();
                    } else {
                        alert("AJAX error: " + jqxhr.responseText);
                    }
                }
            }).done(function (todo) {
                currId = id;
                $("#currentId").html(todo.id);
                $("input[name=task]").val(todo.task);
                $("input[name=dueDate]").val(todo.dueDate);
                $("input[name=isDone]").prop('checked', todo.isDone == 'done');
                $("#saveOrAdd").html("Save changes");
                $("#viewAddEditPane").show();
            }).always(function () {
                $("#waitForIt").hide();
            });
        }


        $(document).ready(function () {

            $("#showResult").hide();
             refreshTodoList();
			 $("#quiz").on('change', function() {

				 console.log("quiz change");
				 refreshTodoList();
                  $("#showResult").show();
                  showReshut();
			 });
              $("#student").on('change', function() {

				 console.log("student change");
				 refreshTodoList();
                  $("#showResult").show();
                  showReshut();
			 });
            $("#waitForIt").hide();
            $("#mainAppPane").hide();
            $("#viewAddEditPane").hide();
			$("#logout").hide();

            $("#loginButton").click(function() {
                username = $("input[name=username]").val();
                password = $("input[name=password]").val();
                $("#loginPane").hide();
                $("#mainAppPane").show();
				$("#logout").show();
				$("#registerPane").hide();
                refreshTodoList();
            });

            $("#showAddItem").click(function () {
                $("input[name=task]").val("");
                $("input[name=dueDate]").val("");
                $("input[name=isDone]").prop('checked', false);
                $("#viewAddEditPane").show();
                $("#saveOrAdd").html("Add todo");
                currId = 0;
                $("#currentId").html(currId);
            });
            $("#finish").click(function() {
                    $("#mainPane").hide();
            });

            $("#delete").click(function() {
                    if (currId == 0) return;
                    if (!confirm("Are you sure you want to delete this item")) return;
                    $("#waitForIt").show();
                    $.ajax({
                            url: "/api/todos/" + currId,
                            type: "DELETE",
                            dataType: "json",
                            headers: { 'X-auth-username': username, 'X-auth-password': password },
                            error: function (jqxhr, status, errorThrown) {
                                if (jqxhr.status == 403) {
                                    loginFailedHandler();
                                } else {
                                    alert("AJAX error: " + jqxhr.responseText);
                                }
                            }
                        }).done(function (result) {
                            alert("Deleted successfully: " + result);
                            currId = 0; // no selected row
                            refreshTodoList();
                        }).always(function () {
                            $("#viewAddEditPane").hide();
                            $("#waitForIt").hide();
                        });
                });

            $("#saveOrAdd").click(function () {
                var taskVal = $("input[name=task]").val();
                var dueDateVal = $("input[name=dueDate]").val();
                var isDoneVal = $("input[name=isDone]").prop('checked') ? "done" : "pending";
                // TODO: verify values are valid
                var todoObj = { task: taskVal, dueDate: dueDateVal, isDone: isDoneVal };
                var dataString = JSON.stringify(todoObj);
                $("#waitForIt").show();
                // NOTE: if currId = 0 then adding, otherwise updating
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/api/todos" + (currId == 0 ? "" : "/" + currId),
                    type: currId == 0 ? "POST" : "PUT",
                    dataType: "json",
                    headers: { 'X-auth-username': username, 'X-auth-password': password },
                    data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                        if (jqxhr.status == 403) {
                            loginFailedHandler();
                        } else {
                            alert("AJAX error: " + jqxhr.responseText);
                        }
                    }
                }).done(function () {
                    // TODO: alerts are obsolete, instead use HTML z-layer popup that shows up for 2-3 seconds
                    alert((currId == 0 ? "Added" : "Updated") + " successfully");
                    refreshTodoList();
                }).always(function () {
                    currId = 0;
                    $("#viewAddEditPane").hide();
                    $("#waitForIt").hide();
                });
            });

            $("#registerButton").click(function () {
                var newUsername = $("input[name=newUsername]").val();
                var newPass1 = $("input[name=newPass1]").val();
                var newPass2 = $("input[name=newPass2]").val();
                if (newPass1 != newPass2) {
                    alert("Both passwords must be the same");
                    return;
                }
                var userObj = { email: newUsername, password: newPass1 };
                var dataString = JSON.stringify(userObj);
                $("#waitForIt").show();
                // NOTE: if currId = 0 then adding, otherwise updating
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/api/users",
                    type: "POST",
                    dataType: "json",
                    data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                    }
                }).done(function () {
                    // TODO: alerts are obsolete, instead use HTML z-layer popup that shows up for 2-3 seconds
                    alert("User registered successfully. You may now login.");
                    $("input[name=newUsername]").val("");
                    $("input[name=newPass1]").val("");
                    $("input[name=newPass2]").val("");
                }).always(function () {
                    $("#waitForIt").hide();
                });
            });
			//
			$("#btLogout").click(function () {
					console.log("logou");
					//$("#login").show();
					//$("#registerPane").show();
                
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/logout",
                    type: "GET",
                    //dataType: "json",
                    //data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                    }
                }).done(function () {
                    // TODO: alerts are obsolete, instead use HTML z-layer popup that shows up for 2-3 seconds
       
                }).always(function () {
                    $("#waitForIt").hide();
                
                    $("#viewAddEditPane").hide();
                    $("#waitForIt").hide();
					$("#loginPane").show();
					$("#registerPane").show();
					 $("#mainAppPane").hide();
					 $("#logout").hide();
					  $("input[name=username]").val("");
                    $("input[name=password]").val("");
					 
                });
            });

        });

        function loginFailedHandler() {
            alert("Authentication failed");
            $("input[name=username]").val("");
            $("input[name=password]").val("");
            $("#loginPane").show();
			$("#registerPane").show();
            $("#mainAppPane").hide();
        }

        function refreshTodoList() {
            $("#waitForIt").show();
			 quiz =  ($("#quiz option:selected" ).text())?($("#quiz option:selected" ).text()):"ALL";

            studentId = ($("#student option:selected").val())?($("#student option:selected").val()):'0';

            console.log(quiz, studentId);
            $.ajax({ // FIXME: escape special characters using urlencode
                url: "/ajax_teacher_display_result?sortBy=" + sortOrder + "&quiz=" + quiz + "&studentId=" + studentId,
                type: "GET",
                headers: { 'X-auth-username': username, 'X-auth-password': password },
                dataType: "json",
                error: function (jqxhr, status, errorThrown) {
                    if (jqxhr.status == 403) {
                        loginFailedHandler();
                    } else {
                        alert("AJAX error: " + jqxhr.responseText + ", status: " + jqxhr.status);
                    }
                }
            }).done(function (todoList) {
                var result = '<tr><th >Quiz</th><th >StudentId</th>'
                    + '<th onclick="sortBy(\'id\');" id="photoTh" >photo</th>'
                    + '<th onclick="sortBy(\'question_description\');" id="questionTh" >Question</th>'
					+ '<th onclick="sortBy(\'answer\');" id="a1Th" >Answer</th>'
					+ '<th onclick="sortBy(\'rightAnswer\');" id="a2Th" >Right Answer</th>'
					+ '<th onclick="sortBy(\'a3\');" id="a3Th" >Result</th></tr>';
					
					
                for (var i = 0; i < todoList.length; i++) {
                    var todo = todoList[i];
                    result += '<tr ><td>' + todo.quiz + '</td>';
                    result += '<td >' + todo.name + '</td>';
                    
                    result += '<td><img src="\\' + todo.photo + '" width=50 height=50  /></td>';
                    result += '<td>' + todo.question_description + '</td>';
                    result += '<td>' + todo.answer + '</td>';
					
                    result += '<td>' + todo.rightAnswer + '</td>';
                    if(todo.answer == todo.rightAnswer){
                        result += '<td><img src="\\images\\face1.png" width=50 height=50  /></td>';
                    }
                    else{
                        result += '<td><img src="\\images\\question.png" width=50 height=50  /></td>';
                    }
					result += '<td></td>';
                    result += '</tr>' + "\n";
                }
                $("#listTable").html(result);
            }).always(function () {
                $("#waitForIt").hide();
                // add star at the end of the current sort order
                var title = $("#" + sortOrder + "Th").text();
                $("#" + sortOrder + "Th").text( title + "*");
            });
        }

        function sortBy(order) {
            console.log("sorting by " + order);
            sortOrder = order;
            refreshTodoList();
        }
//
	
		
        // just for demonstration purposes, do not use in production code
        function wait(ms){
            var start = new Date().getTime();
            var end = start;
            while(end < start + ms) {
                end = new Date().getTime();
            }
        }

        // show result
        function showResult(){

        }

    </script>
{% endblock %}
